sqlalchemy>=1.2
telegraph
twitter_scraper
telethon==1.19.0
html-telegraph-poster
urbandict>=0.5
validators
wikipedia>=1.4.0
tswift
youtube-dl>=2021.1.8
youtube-dl>=2021.02.04.1
youtube-search-python>=1.3.2
youtube-search>=1.1.1
